<!-- {{proregisterForm.value | json}} -->
<div form name="proregisterForm" [formGroup]="proregisterForm" class="row my-5">
    <div class="d-flex justify-content-between ">
        
    </div>
    <div class="offset-md-3 col-md-6 my-5">
        <form class="my-0" *ngIf="proregisterForm" [formGroup]="proregisterForm" (ngSubmit)="onRegister2()">
            <!-- <h1 class="text-primary text-center my-3">Sign up</h1> -->
                        <app-titre [titre]="'sign up'"></app-titre>
            <div class="mb-3">
                <label for="name" class="form-label">raison_social:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Type the raison_social here"
                    formControlName="raison_social">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && proregisterForm.get('raison_social')?.hasError('required')">raison_social is required.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">siret:</label>
                <input type="text" class="form-control" id="name" name="siret"
                    placeholder="Type the siret here" formControlName="siret">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && proregisterForm.get('siret')?.hasError('required')">siret is required.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">statut:</label>
                <input type="text" class="form-control" id="name" name="statut"
                    placeholder="Type the statut here" formControlName="statut">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && proregisterForm.get('statut')?.hasError('required')">statut is required.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">gerant:</label>
                <input type="text" class="form-control" id="name" name="gerant"
                    placeholder="Type the gerant here" formControlName="gerant">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && proregisterForm.get('gerant')?.hasError('required')">gerant is required.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">telephone:</label>
                <input type="text" class="form-control" id="name" name="telephone"
                    placeholder="Type the telephone  here" formControlName="telephone">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && proregisterForm.get('telephone')?.hasError('required')">telephone is required.
                </div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">adresse:</label>
                <input type="text" class="form-control" id="name" name="adresse" placeholder="Type the adresse  here"
                    formControlName="adresse">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && proregisterForm.get('adresse')?.hasError('required')">adresse is required.</div>
            </div>
            
            <div class="mb-3">
                <label for="name" class="form-label">email:</label>
                <input type="email" class="form-control" id="name" name="email" placeholder="Type the email  here"
                    formControlName="email">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && proregisterForm.get('email')?.hasError('required')">email is required.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">password:</label>
                <input type="password" class="form-control" id="name" name="password"
                    placeholder="Type the password  here" formControlName="password">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && proregisterForm.get('password')?.hasError('required')">password is required.</div>
            </div>

            <div class="mb-3">
                <label for="name" class="form-label">confirmationpassword:</label>
                <input type="password" class="form-control" id="name" name="confirmationpassword"
                    placeholder="Type the password  here" formControlName="confirmationpassword">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && proregisterForm.get('confirmationpassword')?.hasError('required')">
                    confirmationpassword is required.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">adresse:</label>
                <input type="text" class="form-control" id="name" name="adresse" placeholder="Type the adresse  here"
                    formControlName="adresse">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && proregisterForm.get('adresse')?.hasError('required')">adresse is required.</div>
            </div>

            <div class="mb-3" *ngIf="proregisterForm.get('commentaire')">
                <label for="name" class="form-label"> commentaire:</label>
                <input type="text" class="form-control" id="name" name="commentaire"
                    placeholder="Type the   commentaire  here" formControlName="commentaire">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && proregisterForm.get('commentaire')?.hasError('required')"> commentaire is
                    required.</div>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Register2</button>
            </div>
        </form>
    </div>