{{partregisterForm.value | json}}
<div form name="partregisterForm" [formGroup]="partregisterForm" class="row my-5">
    
    <div class="offset-md-3 col-md-6 my-5">
        <form class="my-0" *ngIf="partregisterForm" [formGroup]="partregisterForm" (ngSubmit)="onRegister2()">
            <!-- <h1 class="text-primary text-center my-3">Sign up</h1> -->
                        <app-titre [titre]="'sign up'"></app-titre>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Type the product name here"
                    formControlName="name">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && partregisterForm.get('name')?.hasError('required')">Name is required.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">prenom:</label>
                <input type="text" class="form-control" id="name" name="prenom"
                    placeholder="Type the product prenom here" formControlName="prenom">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && partregisterForm.get('prenom')?.hasError('required')">prenom is required.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">telephone:</label>
                <input type="text" class="form-control" id="name" name="telephone"
                    placeholder="Type the telephone  here" formControlName="telephone">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && partregisterForm.get('telephone')?.hasError('required')">telephone is required.
                </div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">adresse:</label>
                <input type="text" class="form-control" id="name" name="adresse" placeholder="Type the adresse  here"
                    formControlName="adresse">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && partregisterForm.get('adresse')?.hasError('required')">adresse is required.</div>
            </div>
            
            <div class="mb-3">
                <label for="name" class="form-label">email:</label>
                <input type="email" class="form-control" id="name" name="email" placeholder="Type the email  here"
                    formControlName="email">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && partregisterForm.get('email')?.hasError('required')">email is required.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">password:</label>
                <input type="password" class="form-control" id="name" name="password"
                    placeholder="Type the password  here" formControlName="password">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && partregisterForm.get('password')?.hasError('required')">password is required.</div>
            </div>

            <div class="mb-3">
                <label for="name" class="form-label">confirmationpassword:</label>
                <input type="password" class="form-control" id="name" name="confirmationpassword"
                    placeholder="Type the password  here" formControlName="confirmationpassword">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && partregisterForm.get('confirmationpassword')?.hasError('required')">
                    confirmationpassword is required.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">adresse:</label>
                <input type="text" class="form-control" id="name" name="adresse" placeholder="Type the adresse  here"
                    formControlName="adresse">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && partregisterForm.get('adresse')?.hasError('required')">adresse is required.</div>
            </div>

            <div class="mb-3" *ngIf="partregisterForm.get('commentaire')">
                <label for="name" class="form-label"> commentaire:</label>
                <input type="text" class="form-control" id="name" name="commentaire"
                    placeholder="Type the   commentaire  here" formControlName="commentaire">
                <div class="d-block invalid-feedback"
                    *ngIf="submitted && partregisterForm.get('commentaire')?.hasError('required')"> commentaire is
                    required.</div>
            </div>
            <div class="d-grid gap-2">
                <button  type="submit" class="btn btn-primary">Register2</button>
            </div>
        </form>
    </div>