<h2>List of Customers</h2>
<button (click)="ajouter()">Ajouter</button>

<table class='table'>
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers; let i = index  ">
            <td>{{customer.customerNo}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.state}}</td>
            <td>{{customer.country}}</td>
            <td><button (click)="showDetails(customer)">Edit</button></td>
            <td><button (click)="deleteCustomer(i)">Delete</button></td>
        </tr>
    </tbody>
</table>

<div *ngIf="showDetail">
    <h3>{{message}}</h3>
    <app-customer-detail *ngIf="selectedCustomer" [customer]="selectedCustomer" (customerChange)="update($event)"
        (cancelChange)="cancel()" (addChange)="add($event)">
    </app-customer-detail>
</div>