<p *ngIf="customer.customerNo">Customer No : {{customer.customerNo}}</p>
<p>Name : <input [(ngModel)]="customer.name"></p>
<p>Address : <input [(ngModel)]="customer.address"></p>
<p>city : <input [(ngModel)]="customer.city"></p>
<p>state : <input [(ngModel)]="customer.state"></p>
<p>country : <input [(ngModel)]="customer.country"></p>

<button *ngIf="!customer.customerNo  " (click)="add()">Add</button>
<button *ngIf="customer.customerNo" (click)="update()">Update</button>
<button (click)="cancel()">cancel</button>