<p *ngIf="curentCustomer?.customerNo">Customer No : {{curentCustomer?.customerNo}}</p>
<p>Name : <input [(ngModel)]="name"></p>
<p>Address : <input [(ngModel)]="address"></p>
<p>city : <input [(ngModel)]="city"></p>
<p>state : <input [(ngModel)]="state"></p>
<p>country : <input [(ngModel)]="country"></p>

<button *ngIf="!curentCustomer?.customerNo" (click)="add()">Add</button>
<button *ngIf="curentCustomer?.customerNo" (click)="update()">Update</button>
<button (click)="cancel()">cancel</button>