<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of postsData">
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.body}}</td>
      <td>
        <button class="btn btn-primary mb-3" type="submit">Update</button>
        <button class="btn btn-danger" type="button" (click)="deleteChild(post.id)">Delete</button>
      </td>
    <tr>
  </tbody>
</table>
